<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email" />
    <meta
      name="google-signin-client_id"
      content="<%= CLIENT_ID %>.apps.googleusercontent.com"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-image">
          <img src="/wheel.jpg" height="248" width="1310" />
          <h1 class="header card-title">Kubernetes Steward</h1>
        </div>
        <div class="card-content">
          <p>May I get you a namespace?</p>

          <div id="sign-in">
            Sign in with Google to be allocated a namespace and get a
            <code>KUBECONFIG</code> file.
          </div>

          <div
            class="g-signin2"
            data-onsuccess="onSignIn"
            data-theme="dark"
          ></div>
          <script>
            async function renderData(httpResponse) {
              let clusterInfo = await httpResponse.json();

              // Fill in cluster info
              let div = document.getElementById('cluster-info');
              div.style.display = 'block';
              if (clusterInfo['message']) {
                document.getElementById('server-message').innerText = clusterInfo['message'];
              }
              if (clusterInfo['namespace']){
                document.getElementById('namespace').innerText = clusterInfo['namespace'];
              }
              if (clusterInfo['config']) {
                let pre = div.getElementsByTagName('pre')[0];
                pre.innerText = clusterInfo['config'];
              }
            }

            function onSignIn(googleUser) {
              let idToken = googleUser.getAuthResponse().id_token;
              fetch("/signin", {
                headers: {"Authorization": idToken},
                method: "POST",
              })
              .then(renderData);
            }
          </script>

          <div id="cluster-info" style="display: none; margin-top: 3em;">
            <p id="server-message"></p>

            <p><strong>Your namespace:</strong> <span id="namespace">Not created</span></p>

            <p>Your Kubeconfig:
            <pre style="padding: 1ex; border; 2px solid grey; background: #dddddd"></pre>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
